<p id="notice"><%= notice %></p>
<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">國立台北超強大學</a>
        </div>
        <p class="navbar-text">成績單</p>
      </div>
    </div>
  </nav>
  <b>成績列表</b>
  <%= link_to '新增學生', new_student_path , :class => "btn-success btn btn-big" %>
  <HR>
  <p>分數級別說明 : 90分以上 S / 80~89 : A / 70~79 : B級 / 60~69 : C級 / 未滿60 : D級</p>
  <table class="table">
    <thead>
      <tr>
        <th>姓名</th>
        <th>學號</th>
        <th>分數</th>
        <th>處理</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @students.each do |student| %>
        <tr>
          <td><%= student.name %></td>
          <td><%= student.number %></td>
          <% if student.grade >= 90 %>
            <td><%= "S 級" + "(" + String(student.grade) + ")" %></td>
            <% else if student.grade >= 80 && student.grade <= 89 %>
              <td><%= "A 級" + "(" + String(student.grade) + ")" %></td>
              <% else if student.grade >= 70 && student.grade <= 79 %>
                <td><%= "B 級" + "(" + String(student.grade) + ")" %></td>
                <% else if student.grade >= 60 && student.grade <= 69 %>
                  <td><%= "C 級" + "(" + String(student.grade) + ")" %></td>
                  <% else if student.grade < 60%>
                    <td><%= "D 級" + "(" + String(student.grade) + ")" %></td>
                  <%end%>
                <%end%>
              <%end%>
            <%end%>
          <%end%>
          <!-- <td><%= link_to 'Show', student %></td> -->
          <td><%= link_to '編輯', edit_student_path(student), :class => "btn-success btn btn-big" %></td>
          <td><%= link_to '刪除', student, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn-danger btn btn-big" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
